numpy
pydantic==1.10.12
redis==4.5.4
requests==2.28.2
httpx==0.23.3
flower==1.2.0
python-multipart
scipy
pandas
psycopg2-binary
sqlalchemy
networkx
bs4
streamlit
streamlit-feedback
streamlit-modal
streamlit-option-menu
geoalchemy2
matplotlib
plotly==5.19.0
streamlit_extras